html {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    box-align: center;
}

p, h4, h2 {
  margin: 0px;
}

.card-main {
  border-radius: 7px;
  box-shadow: 0px -2px 54px -7px rgba(0,0,0,0.75);
  height: 450px;
  margin: auto;
  margin-top: 150px;
  overflow: hidden;
  width: 700px;
}

.top-sect {
  height: 42%;
  width: 100%;
}

.bottom-sect {
  color: white;
  display: flex;
  height: 58%;
  width: 100%;
}

.bottom-left-sect {
  background-color: #2ab2af;
  height: 100%;
  width: 50%;
}

.bottom-right-sect {
  background-color: rgba(42, 178, 175, 0.7);
  height: 100%;
  width: 50%;
}

.top-sect, .bottom-left-sect, .bottom-right-sect {
  padding: 35px
}

.top-sect > h2 {
  color: #2ab2af;

}

.top-sect > h4 {
  color: #c0df34;
  margin-top: 25px;
}



.top-sect > p {
  color: #98a6bd;
  margin-top: 10px
}

button {
  color: white;
  width: 250px;
  height: 50px;
  margin-top: 30px;
  box-shadow: 0px -2px 30px -7px rgba(0,0,0,0.75);
  border-radius: 7px;
  background-color: #c0df34;
  border: none;
  font-family: 'Karla', sans-serif;
  font-size: 1.15rem;
}

button:hover {
  cursor: pointer;
  background-color: #adc92e;
  transform: scale(1.03);
}

#price-cont {
  font-weight: 700;
  font-size: 2.2rem;
}

.bottom-left-sect > h4 {
  margin-bottom: 20px;
}

#price-cont, #price-freq {
  display: inline-block;
}

#price-freq {
  position: relative;
  top: -7px;
  opacity: 0.7;
  margin-left: 7px;
}

.bottom-left-sect > p {
  margin-top: 10px;
  opacity: 0.8;
}

.bottom-left-sect > h4 {
  font-size: 1.15rem;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  margin: 5px;
  opacity: .8;
  font-size: .9rem;
}

.bottom-right-sect > h4 {
  font-size: 1.15rem;
}
